.filter-bar{
  background:$black;
  color:$white;
  left:50%;
  max-width:30rem;
  padding:1.75rem;
  position:absolute;
  text-align:center;
  top:0;
  transform:translateX(-50%);
  width:100%;
  z-index:1;
}

.filter-bar__input{
  background:transparent;
  border:1px solid $white;
  box-sizing:border-box;
  color:$white;
  font-family:Courier New, monospace;
  font-size:1rem;
  outline:none;
  padding:1rem;
  width:100%;
  &:focus{
    border-style:dashed;
  }
}
