
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$roboto-mono: 'Roboto Mono', monospace;

// Media queries
$fablet: 480px;
$tablet: 768px;
$tablet-landscape: 1024px;

// Colours
$white: #fff;
$black: #000;
$black-30: rgba(0,0,0,0.3);
$black-50: rgba(0,0,0,0.5);
$black-90: rgba(0,0,0,0.9);
